#ProfilePageJumbotron{
    background-color: #800020;
    color: white;
    height: 20%;
}
#featuredSpeakerImage{
    height: 150px;
    width: 150px;
    text-align: left;
    margin: 2rem;
}

#editProfileButton{
    text-align: left;
    margin-left: 3rem;
}

#skillBadge{

    margin-left: 2rem;
}
.badge-pill{
height: fit-content;
margin-top: 2rem;
}
.header{
        font-family: 'PT Serif', serif;
        padding-top: 20%;
        margin-left: 2rem ;
}
.acheivementHeader {
    padding-top: 4%;
    margin-left: 2rem ;
    font-family: 'PT Serif', serif;
        
}